//=========================================
// *Global Variables
//==========================================

// * Font stack
$font-family--primary: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// * Font weight
$font-weight--regular: 400;
$font-weight--medium: 500;

// *  Base Colors
$white: #fff;
$body-color: #3b3b3b;

$mercury: #e5e5e5;
$dusty-gray: #969696;
$gallery: #ededed;
$silver: #b8b8b8;
$alto: #d4d4d4;

// * Color usage
$color-primary: $mercury;
$color-secondary: $dusty-gray;

// * Font
$border-radius: 0.3em;

// * Font
$base__font-size: 1.125em;
$base__line-height: 1.5;

// * Breakpoints
$med: 48em; /* 768px */
$large: 64.5em; //1024px;
