@use "../utilities/variables" as *;

/* =======================================
    *Card Gallery Styles
========================================= */

.gallery {
  @media (min-width: $med) {
    &-details,
    &-cards {
      display: grid;
    }

    &-details {
      grid-template-columns: minmax(auto, 500px);
      justify-content: center;
    }
    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 1.5em;
    }
  }

  @media (min-width: $large) {
    &-cards {
      grid-template-columns: repeat(5, 1fr);
      gap: 0.6em;
    }

    &-details {
      grid-template-columns: minmax(auto, 33%);
      justify-content: start;
    }
  }

  &-details .card {
    padding-bottom: 5em;
  }
}
