@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
@use "sass:color";

/* =======================================
    *filter-controls 
========================================= */

.filter {
  font-size: 0.9em;
  margin-bottom: 2em;

  &-search {
    position: relative;
  }

  &-icon {
    position: absolute;
    width: 23px;
    top: 8px;
    right: 20px;
  }

  &-input {
    padding: 0.5em;
    width: 100%;
    border: none;
    border-radius: $border-radius;
    margin-bottom: 0.7em;
    &::placeholder {
      font-size: 1.2rem;
    }
  }

  &-btn,
  & select {
    padding: 0.3em 0.6em;
  }

  & select {
    background-color: $white;
    border-radius: $border-radius;
    border: none;
  }

  &-options {
    @include flex;
  }

  label {
    margin-right: 0.3em;
  }

  &-options > * + * {
    margin-left: 0.3em;
  }

  &-btn {
    border: 1px solid $silver;
    background-color: $alto;
    &:first-of-type {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &.selected {
      background-color: $white;
    }

    &:last-of-type {
      border-radius: 0 $border-radius $border-radius 0;
    }

    & + & {
      margin-left: -6px;
    }
  }

  @media (min-width: 64em) {
    @include flex;

    & > * + * {
      margin-left: 1em;
    }

    & > *:first-child {
      flex: 1;
    }
  }
}
